* {
  margin: 0;
  padding: 0;
}
.JsCalculator {
  position: absolute;
  top: 15%;
  left: 35%;
  padding-bottom: 100px;
  width: 400px;
  height: 500px;
}
table {
  border-collapse: collapse;
  box-shadow: rgba(167, 167, 167, 0.611) 5px 5px 20px;
  border: solid 10px rgb(82, 82, 82);
}
td {
  text-align: center;
  border: 0.5px solid #000;
}
input[type="button"] {
  width: 92.2px;
  height: 80px;
  color: rgb(213, 213, 213);
  background-color: rgb(66, 56, 162);
  font-size: 2rem;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgb(27, 21, 84);
  outline: none;
}
input[type="text"] {
  width: 352px;
  height: 100px;
  text-align: right;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 30px;
  background-color: rgb(200, 196, 243);
}
#zero {
  color: rgb(66, 56, 162);
}
#zero:hover {
  color: rgb(27, 21, 84);
}
